<div *ngIf="!loading">
  <div class="card mb-3 border border-warning" *ngIf="product; else noProduct">
    <div class="row g-0">
      <div class="col-4">
        <img
          src="{{ product.image }}"
          alt="{{ product.name }}"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="cart-text" [innerHTML]="product.desc"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noProduct>
  <div class="alert alert-warning">no product</div>
</ng-template>

<div class="spinner-border text-info" *ngIf="loading" role="status">
  <span class="sr-only"></span>
</div>
