<div *ngIf="!loading">
  <div class="card mb-3 border border-warning" *ngIf="product; else noProduct">
    <div class="row g-0">
      <div class="col-4">
        <img
          src="{{ product.image }}"
          alt="{{ product.name }}"
          class="img-fluid rounded-start"
        />
      </div>
      <div class="col-8">
        <div
          class="card-body d-flex flex-column justify-content-center align-items-start"
          style="height: 100%"
        >
          <h5 class="card-title mb-4">{{ product.name }}</h5>
          <p class="cart-text" [innerHTML]="product.desc"></p>
          <h6 class="card-text">{{ product.price }} TL</h6>
          <div class="d-grid gap-2 mt-3 w-100">
            <button
              (click)="deleteProductById(product.id)"
              class="btn btn-warning w-100"
              *ngIf="isAdmin"
            >
              Delete Product
            </button>
            <button
              [routerLink]="['/products/update', product.id]"
              class="btn btn-warning w-100"
              *ngIf="isAdmin"
            >
              Update Product
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noProduct>
    <div class="alert alert-warning">No product available</div>
  </ng-template>

  <div class="spinner-border text-info" *ngIf="loading" role="status">
    <span class="sr-only"></span>
  </div>
</div>
