<h3>Add Product</h3>
<form (ngSubmit)="saveProduct(form)" #form="ngForm">
  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input
      required
      minlength="5"
      [(ngModel)]="model.name"
      type="text"
      name="name"
      class="form-control"
      #name="ngModel"
      placeholder="Enter the product name"
    />
    <div class="text-danger mt-1" *ngIf="name.invalid && name.touched">
      The product name must be at least 5 characters.
    </div>

    <label for="price" class="form-label">Price</label>
    <input
      [(ngModel)]="model.price"
      type="number"
      required
      min="0"
      max="300000"
      name="price"
      class="form-control"
      #price="ngModel"
      placeholder="Enter the product price"
    />
    <div class="text-danger mt-1" *ngIf="price.invalid && price.touched">
      Please do not enter negative values for price.
    </div>

    <label for="image" class="form-label">Image</label>
    <input
      [(ngModel)]="model.image"
      type="text"
      name="image"
      class="form-control"
      placeholder="Enter the image URL"
    />

    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <editor
        apiKey="m0jou4fhn6rlf6d6gd63m830njmq734cbkb1c9h669tny0qk"
        [(ngModel)]="model.desc"
        id="desc"
        name="desc"
        [init]="{ plugins: ['lists link image table code help wordcount'] }"
      ></editor>
    </div>

    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="isActive"
        name="isActive"
        [(ngModel)]="model.isActive"
      />
      <label class="form-check-label" for="flexCheckIndeterminate">
        Available
      </label>
    </div>

    <div class="mb-3">
      <label for="categoryId" class="form-label">Category</label>
      <select
        name="categoryId"
        id="categoryId"
        class="form-select"
        [(ngModel)]="model.categoryId"
      >
        <option value="0" disabled>Select Category</option>
        <option *ngFor="let category of categories" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
    </div>

    <button
      class="btn btn-outline-warning"
      type="submit"
      [disabled]="form.invalid"
    >
      Save
    </button>
  </div>
</form>
