<div *ngIf="!loading">
  <div *ngIf="products.length > 0; else noProducts">
    <ng-template
      [ngTemplateOutlet]="productList"
      [ngTemplateOutletContext]="{ products: products }"
    ></ng-template>
  </div>
</div>

<ng-template #productList let-products="products"
  ><div class="row">
    <div *ngFor="let product of products" class="col-md-6 col-lg-4 mb-4">
      <div
        *ngIf="product.isActive"
        class="card product-card mb-3 p-1 card h-100 shadow-sm"
      >
        <div class="product-image-container">
          <img
            src="{{ product.image }}"
            alt="{{ product.name }}"
            class="card-img-top img-fluid product-image"
          />
        </div>
        <div class="card-body text-center">
          <div class="card-body">
            <h5 class="card-title product-title">{{ product.name }}</h5>
            <a
              routerLink="/products/{{ product.id }}"
              class="btn btn-primary product-btn"
              >Ürün Detay</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #noProducts>
  <div class="alert alert-warning text-center">No products available</div>
</ng-template>

<div
  *ngIf="loading"
  class="d-flex justify-content-center align-items-center"
  style="height: 100vh"
>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
