<h3 class="form-label">{{ isLoginMode ? "Sign in" : "Sign Up" }}</h3>
<div class="alert alert-danger" *ngIf="error">
  {{ error }}
</div>
<form #form="ngForm" (ngSubmit)="handleAuth(form)">
  <div class="mb-3">
    <label for="email" class="form-label">E-mail</label>
    <input
      type="email"
      [(ngModel)]="model.email"
      required
      email
      name="email"
      id="email"
      class="form-control"
    />
    <p class="text-danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </p>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input
      type="password"
      ngModel
      required
      password
      minlength="6"
      name="password"
      id="password"
      class="form-control"
    />
  </div>

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-warning" [disabled]="form.invalid">
      {{ isLoginMode ? "Sign in" : "Sign Up" }}
    </button>
    <button
      type="button"
      class="btn btn-outline-success"
      (click)="toggleMode()"
    >
      {{
        isLoginMode
          ? "I don't have an account yet"
          : "I already have an account"
      }}
    </button>
  </div>
  <div class="spinner-border text-info" *ngIf="loading" role="status">
    <span class="sr-only"></span>
  </div>
</form>
