<div class="card mb-3 border border-warning" *ngIf="product; else noProduct">
  <div class="row">
    <div class="col-3">
      <img src="{{ product.image }}" alt="" class="img-fluid rounded-start" />
    </div>
    <div class="col-9">
      <div class="card-body">
        <p class="cart-title">
          {{ product.name }}
        </p>
        <p class="cart-text">
          {{ product.desc }}
        </p>
      </div>
    </div>
  </div>
</div>
<ng-template #noProduct>
  <div class="alert alert-warning">no product</div>
</ng-template>
