<h3 class="mb-4 form-label">Kategori Oluştur</h3>
<form>
  <div class="alert alert-danger" *ngIf="error">
    {{ error }}
  </div>
  <div class="mb-3">
    <label for="name" class="form-label">Adı</label>
    <input
      #name
      type="text"
      name="name"
      class="form-control"
      placeholder="Kategori adı giriniz."
      required
    />

    <button
      class="btn btn-outline-warning mt-3"
      type="button"
      (click)="saveCategory(name)"
    >
      Kaydet
    </button>
  </div>
</form>
