<div *ngIf="products.length > 0; else noProducts">
  <ng-container *ngTemplateOutlet="productList1"></ng-container>
  <!-- <ng-container
        [ngTemplateOutlet]="productList2"
        [ngTemplateOutletContext]="{ products: products }"
      ></ng-container> -->
</div>

<ng-template #noProducts>
  <div class="alert alert-warning">no product</div>
</ng-template>

<ng-template #productList1>
  <div *ngFor="let product of products">
    <div *ngIf="product.isActive" class="card mb-3">
      <div class="row">
        <div class="col-3">
          <img
            src="{{ product.image }}"
            alt=""
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-9">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="cart-text">
              {{ product.text }}
            </p>
            <a routerLink="/products/{{ product.id }}" class="btn btn-primary"
              >Ürünü İncele</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #productList2 let-products="products">
  <h2>En beğenilenler</h2>
  <div class="row">
    <div *ngFor="let product of products" class="col-3">
      <div *ngIf="product.isActive" class="card mb-3">
        <img src="{{ product.image }}" alt="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="cart-text">{{ product.text }}</p>
        </div>
      </div>
    </div>
  </div>
</ng-template>
